<h1>Welcome Team <%= @team.team_name %></h1>
</br>
<%= link_to "Back home", root_path%>
</br>
<h4>Hi, <%= current_user.first_name + " " +current_user.last_name %></h4>
<%= link_to "Edit Player Profile", edit_user_team_path(@team.get_player_id(current_user.id))%>
<p> <strong>Team Owner:</strong> <%= @team.get_owners_name(@team.user_id)%></p>
<% if @team.is_owner?(current_user.id) %>
  <%= link_to "Edit Team Name", edit_team_path(@team)%>
  </br>
  <%= link_to "Delete Team", team_path(@team), data: { confirm: "Are you sure you want to delete the Team ?" }, method: :delete%>
  </br>
<% end %>
<p><strong>Team Players:</strong></p>
<% if @team.have_players?  %>
  <% @team.get_players.each do |p| %>
     <%= 'Name: '+ " " + p.first_name + " " + p.last_name.to_s+ " --- "%>
     <%= 'Nickname: '+ " " +p.get_info(p.id, @team.id,"nickname").to_s + " --- "%>
     <%= 'T Shirt Number: '+ " "+ p.get_info(p.id, @team.id,"t_shirt_number").to_s%>
     </br>
  <% end %>
<% else %>
  <p>This team doesn't have players</p>
<% end %>
<h4>Events</h4>
<% if @team.have_events? %>
	<% @team.events.each do |e| %>
	<p><strong>Event: </strong> "<%= link_to e.subject.titleize, event_path(e.id) %>", expected to be on <strong><%= e.date %></strong>
  <% if @team.is_owner?(current_user.id) %>
    <%= link_to "Edit Event", edit_event_path(e.id)%> - <%= link_to "Delete Event", event_path(e.id), data: { confirm: "Are you sure?" }, method: :delete%>
  <% end %>
  </p>
	<% end %>
<% else %>
	<p>No events were found</p>
<% end %>


