
<h2>Edit Event</h2>

<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</br>
<%= link_to 'Back to Team', team_path(@event.team_id)%>


<%= form_for(@event) do |f| %>

  <div><%= f.label :team %></br>
  <%= f.select(:team_id, current_user.teams.all.collect {|t| [ t.team_name, t.id ] })%></div>

  <div><%= f.label :subject %><br />
  <%= f.text_field :subject, autofocus: true %></div>

  <div><%= f.label :date %><br />
  <%= f.datetime_select :date %></div>

  <div><%= f.label :description %><br />
  <%= f.text_area :description, rows: 5, cols: 50 %></div>

  <div>
  <%= f.hidden_field :latitude,:value => @event.latitude %></div>

  <div>
  <%= f.hidden_field :longitude,:value => @event.longitude %></div>
  </br>
  <div id="map-canvas"></div>
  </br>

  <div><%= f.submit "Update Event" %></div>
  <script type="text/javascript">google.maps.event.addDomListener(window, 'page:load', 
  initialize("edit", document.getElementById("event_latitude").value , document.getElementById("event_longitude").value ));</script>
<% end %>